.photo-ofi {
  height: 0;
  display: block;
  background-color: #EFEFEF;
  overflow: hidden;
  position: relative;
  padding-bottom: 75%;
  /* 高さを指定（ボックスの横幅を基準） */
}

.photo-ofi img {
  max-width: inherit;
  max-height: inherit;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  font-family: 'object-fit: scale-down;';
  position: absolute;
  left: 0;
  top: 0;
}

.post-thumbnail {
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.post-content {
  margin-bottom: 4vw;
  width: calc(100% / 2 - 20px);
  margin-left: 20px;

  &:first-child,
  &:nth-child(3),
  &:nth-child(5) {
    margin-left: 0;
  }
}

.interview .post-content,
.member .post-content {
  margin-bottom: 4vw;
  width: calc(100% / 3 - 20px);
  margin-left: 30px;

  &:first-child,
  &:nth-child(4),
  &:nth-child(7) {
    margin-left: 0;
  }
}


.content-list {
  display: flex;
  flex-wrap: wrap;
}


.sub-header .interview-sub-ttl {
  font-size: 2.2rem;
}

.intaview-sub-header {
  &::after {
    display: none;
  }
}



.interview-intro {

  .interview-intro_border {
    margin-bottom: 50px;

    &:before,
    &:after {
      display: block;
    }

    &:before {
      content: "";
      width: 100%;
      height: 1px;
      background: $color-txt;
    }

    &:after {
      content: "interview";
      font-size: $txt-min;
    }
  }

  .topic-job {
    margin: 5px 0;
  }
}

.single-editor {
  background: $color-white;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.shop-toc {
  max-width: $layout-width-inner_col-6;
  width: 100%;
  margin-top: 2vw;

  ul li {
    color: $color-gray-second;
  }
}

.shop-description {
  max-width: $layout-width-inner_col-6;
  width: 100%;


  .shop-intro {
    border-bottom: 1px solid;
    padding-bottom: 20px;
  }

  .shop-description-content {
    padding-top: 1vw;
  }
}

.article-img-area {
  display: flex;
  align-items: center;
  justify-content: center;

  figure {
    max-width: $layout-width-inner_col-6;
    width: 100%;
    height: auto;
  }
}

// 店舗情報
.single-shop-img {
  max-width: $layout-width-inner_col-4;
  width: 100%;
  height: auto;
}


