.fv {
    height: 800px;
    display: flex;

    .fv-ttl {
        max-width: $layout-width-inner_col-8_1;
        width: 100%;
        background: url(../images/main.jpg) center/cover;
    }

    .fv-nav {
        max-width: $layout-width-inner_col-4;
        width: 100%;
        background: $color-green;

        li {

            text-align: right;
        }

        a {
            font-size: $txt-lx;
            font-family: $font-tcm;
            color: $color-gray;
        }
    }
}
