// メインカラー
$color-white: #fff;
$color-txt: #191919;
$color-gray:#3E3E3E;
$color-contact-bg:#E6E6E6;
$color-gray-second:#848484;

// 透明度
$opacity: 0.34;
$dark: rgba(0, 0, 0, 0.2);

// 業種カラー
$interview01: #FF9B58;
$interview02: #60F9FF;
$interview03: #6DEF5A;
