@mixin btn($bg:#000) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $bg;
    position: relative;

    &::after {
        content: "●";
        font-size: 2.5rem;
        margin-left: -2vw;
        transition: 0.3s all;

    }

    span {
        margin-top: -1vw;
        position: relative;

        font-size: $txt-md;

        &::after {
            content: "";
            width: 130px;
            height: 1px;
            display: block;
            background: $color-txt;
        }
    }

    &:hover {
        &::after {
            // font-size: 5rem;
            // position: absolute;
            // top: 0;
        }
    }

}

@mixin btn_circle {}
