.member-cv {
  background: $color-contact-bg;
  padding: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: $ttl-section;
    color: $color-txt;
    font-weight: bold;
  }

  a {
    background: $color-white;
    color: $color-txt;
    padding: 2vw;
    max-width: $layout-width-inner_col-5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
