.sec-contact {
    padding: 90px 0;

    p {
        text-align: center;
    }
}

footer {
    background: $color-txt;
    color: $color-white;
    // height: 415px;
    padding: 60px 0;
    font-family: $font-tcm;
    margin-top: 4vw;

    @include mq('tab') {
        height: auto;

        padding: 60px 0 30px;
    }


    h1 {
        margin: 55px 0;
        font-size: 30px;

        @include mq('sp') {
            margin: auto auto 20px;
        }
    }

    .footer-content {
        display: flex;
        align-items: center;

    }

    .copy {
        text-align: right;

        @include mq('sp') {
            margin-top: auto;
        }
    }


    a,
    a:hover,
    a:visited {

        font-family: $font-tcm;
        color: $color-white;
    }

    .inner {

        @include mq('sp') {
            display: block;
            width: 90%;
        }
    }

    .footer-left {
        width: 50%;

        @include mq('tab') {
            width: 100%;
            margin: auto;
        }
    }

    .footer-right {
        display: flex;
        margin-top: 90px;

        @include mq('tab') {
            width: 100%;
            margin: auto;
            margin-top: 20px;
            flex-flow: row-reverse;
            justify-content: space-between;
        }

        nav {
            margin-left: 30px;

            @include mq('sp') {
                margin-left: 0;
            }

            li {
                margin-bottom: 10px;
            }
        }

    }

    // a.btn_wh,
    // a.btn_wh:visited {
    //     color: $color-txt;
    //     width: 150px;
    //     margin: 0;
    // }
}
