.shop-img-flex {
  display: flex;


  .post-shop-img {
    width: 150px;
    margin: -5vw 10px 0px auto;
  }
}

.topic-job {
  span {
    background: $interview01;
    padding: 0 5px;
  }
}

.topic-ttl {
  font-size: $ttl-section;
  font-weight: bold;
  border-bottom: 1px solid;
  display: inline-block;
}

.topic-txt {
  font-size: $txt-nor;
  padding: 20px 0;
  height: 80px;
}

.topic-name {
  font-size: $txt-min;
  color: $color-gray;
}

.topic-name-owner {
  font-size: $txt-md;
  color: $color-txt;
}


.topic-discription {
  display: flex;
  justify-content: space-between;
}
